.mot-addFileForm input, .mot-select {
    padding: 7 3px;
    margin-bottom: 30px;
    
    min-width: 130px;
    width: 100%;
    max-width: 500px;
    height: 30px;
}
.mot-addFileForm label{
    margin-left: 12px;
    margin-top: 1px;
    color: #000;
    transition: 0.5s;
}
.mot-labeldiv{
    width: 160px;
}
.mot-addFileForm>div{
    display: flex;
    flex-wrap: wrap;
}
.mot-addFileForm{
    margin-top: 15px;
    margin-bottom: 15px;
}
button {
   background: url(feldgrau-scratone.png);
    border-radius: 7px;
    margin: 15px;
    height: 30px;
    display: inline-block;

    text-decoration: none;
    color: rgb(220 241 213);
    font-family: 'Gabriela', serif;
    font-size: 1em;
}
button:hover {
    background: #00f;
    margin: 12px 13px 17px 18px;
}

/*/////////////////////////////////////////////////*/
.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #bfcbc0;
    font-size: 14px;
    border-top: 1px solid #ddd;
}
.table tr th:first-child, .table tr td:first-child {
    border-left: 1px solid #ddd;
}
.table tr th:last-child, .table tr td:last-child {
    border-right: 1px solid #ddd;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
    background: #fff;
}
.table tbody tr:nth-child(even) {
    background: #F8F8F8;
}
.table tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}