/*.mot-contentpanel{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}*/

/*///////////////////////////////////////////////////////////////////*/
#mot-container{
	width: 100%;
}

.mot-select{
	min-width: 150px;
	width: 100%;
	max-width: 350px;
	height: 40px;

	border-width: 2px;
	border-radius: 5px;
	border-color: #4d4d65;

	background: #fff0;

	margin-bottom: 20px;
}

/*///////////////////////////////////////////////////////////////////*/

.mot-listcontainer{
	min-width: 300px;
	width: 40%;
	margin: 10px;
}
.mot-list{
	min-width: 150px;
	width: 100%;
	max-width: 450px;
	max-height: 40px;

	border: dashed;
	border-width: 2px;
	border-radius: 10px;
	border-color: #4d4d65;
	background: rgb(193,167,194);

	margin-bottom: 20px;
	padding: 4px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.mot-list>img{
	height: 100%;
	max-height: 35px;
}
.mot-list>h2{
	color: #24243a;
	height: 40px;
	margin: 5px 10px 0px 0px;
}

/*//////////////////////////////////////*/

.mot-object{
    min-width: 150px;
    width: 90%;
    max-width: 420px;
    min-height: 60px;

    border: dotted;;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4d4d65;

    margin-bottom: 5px;
    padding: 5px 10px;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* vertical-align: middle; */
}
.mot-object>img{
	width: 50px;
	max-height: 60px;
}
.mot-object>a{
	color: #24243a;
	height: 40px;
	margin: 5px 0px 0px 10px;

    text-decoration: none; 
    font-family: 'Gabriela', bold;
    font-size: 1em;
}
.hidden{
	/*visibility: hidden;*/
	display: none;
}