body {
	background-color: #e0dde6 ;
	padding: 0px calc((100vw - 1140px)/2);
}
 h2{
 	font-family: 'Gabriela', serif;
 	font-size: 14pt;
 }

/*///////////////////////////////////////////////////////////////////*/

.mot-headpanel{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.mot-headline{
	background: url(cobalt-overlay-rings.png);
	width: 100%;
	height: 80px;
	text-align: center;
	color: #d9cedf;
	display: flex;
	justify-content: center;
}
.mot-headline a{
	text-decoration: none;
	font-family: 'Gabriela', bold;
	font-size: 2em;
	color: #c9bad1;
	margin-top: 20px;
	margin-left: 15px;
}
.mot-icon{
	height: 90%;
}

/*////////////////////////////////////*/

.mot-menubutton {
	text-align: center;
	background: url(feldgrau-scratone.png);
	border-radius: 10px;
	min-width: 130px;
	width: 20%;
	max-width: 180px;
    height: 45px;
    padding: 1px;
    border-radius: 7px;
    margin: 1px;
    display: inline-block;
/*    box-shadow: 2px 3px 9px #0000027a;*/
}
.mot-menubutton a{
    text-decoration: none;
    color: rgb(220 241 213);
    font-family: 'Gabriela', serif;
    font-size: 11pt;
    line-height: 0.5pt;
    height: 100%;
}
.mot-menubutton:hover {
 	background: #739075;
 	margin: 1px 1.5px 1px 1px;
 	box-shadow: 0px 5px 10px rgb(0 0 0 / 0.50);
}
#mot-activebutton {
	background: #739075;
}

/*////////////////////////////////////////////////////////////////////////*/

.mot-contentpanel{
	min-height: 414px;
}

.mot-contentpanel p{
 	font-family: 'Times New Roman', serif;
 	font-size: 12pt;
 	color: #000;
 }

/*//////////////////////////////////////////////////////////////////////*/

.mot-bottompanel{
	background: url(cobalt-overlay-rings.png);
	width: 100%;
	margin-top: 50px;
 	width: 100%;
 	background-color: #4d4d65;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: space-between;
 }
  .mot-bottompanel>div{
  	margin-left: 15px;
  	margin-right: 35px;
 }
 .mot-bottompanel a, .mot-bottompanel p{
 	font-family: 'Times New Roman', serif;
 	font-size: 1.1em;
 	text-decoration: none;
 	color: #c9bad1;
 }
 .mot-bottompanel h2{
 	color: #c9bad1;
 }


/*////////////////////////////////////////////////////////////////////////*/

 @media all and (max-width: 1030px) {
	.mot-headpanel{
  		justify-content: space-evenly;
 	}
 	.mot-menubutton {
 		margin-bottom: 3px;
 		max-width: 350px;
 		font-size: 0.9em;
 	}
}
