
.mot-linkbutton{
	background: rgb(193,167,194);
 	margin: 1px 1.5px 1px 1px;
 	text-align: center;
	vertical-align:center;
	border-radius: 10px;
	width: 300px;
    height: 35px;
    padding: 3px;
    border-radius: 7px;
    margin: 2px;
    display: inline-block;
    vertical-align:center;
}
.mot-linkbutton a{
	vertical-align:center;
    text-decoration: none;    
    color: #24243a;
    font-family: 'Gabriela', bold;
    font-size: 13pt;
    line-height: 1pt;
}
.mot-linkbutton:hover {
 	background: rgb(223, 203, 233);
 	margin: 1px 1.5px 1px 1px;
 	box-shadow: 0px 5px 10px rgb(0 0 0 / 0.50);
 }
 .mot-darklinkbutton{
 	text-align: center;
	vertical-align:center;
	background: url(feldgrau-scratone.png);
	border-radius: 10px;
	min-width: 130px;
	width: 24%;
	max-width: 350px;
    height: 40px;
    padding: 1px;
    border-radius: 7px;
    margin: 1px;
    display: inline-block;
 }
 .mot-darklinkbutton a{
 	vertical-align:center;
    text-decoration: none;    
    color: rgb(220 241 213);;
    font-family: 'Gabriela', bold;
    font-size: 1em;
 }

