.mot-inputForm {
    margin-top: 30px;
}

.mot-inputForm>form>div {
    padding: 0 10px;
}

.mot-inputForm input {
    padding: 7 3px;
    margin-bottom: 30px;
    
    min-width: 130px;
    width: 100%;
    max-width: 500px;
    height: 30px;
}
.mot-inputForm label{
    width: 300px;
    position: absolute;
    margin-left: 12px;
    margin-top: 1px;
    color: #777;
    transition: 0.5s;


 }
 .mot-inputForm label.mot-label-up {
    font-size: 12pt;
    margin-top: -24px;
    color: #000;
}
.mot-inputForm label.mot-label-up:after {
    content: ":";
}

.mot-button {
   background: url(feldgrau-scratone.png);
    color: rgb(241 213 213);
    padding: 5px;
    border-radius: 7px;
    margin: 15px;
    height: 30px;
    display: inline-block;
    box-shadow: 2px 3px 9px #0000027a;

    text-decoration: none;
    color: rgb(220 241 213);
    font-family: 'Gabriela', serif;
    font-size: 1em;
}
.mot-button:hover {
    background: #00f;
    margin: 12px 13px 17px 18px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 0.50);
}